@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-bg{
    background: linear-gradient(180deg, #252472 0%, #2321BD 100%)
}
.profile-bg{
  background: linear-gradient(90deg, #252476 0%, #2521bb 100%)
}
body {
    font-family: 'Poppins', sans-serif;
  }
  .active {
    
    background-color: #F3F4FF;
    border-top-left-radius: 99999px;
    border-bottom-left-radius: 99999px;
    padding: 12px;
    width: 208px;
  }
  
  .active span{
    color: #4D44B5;
  }
 li.active .icon{
  filter: brightness(0) saturate(100%) invert(27%) sepia(13%) saturate(7482%) hue-rotate(226deg) brightness(96%) contrast(94%);
  }